.class-jumbo {
    height: 600px;
}

.class-nav {
    padding: 30px;
    border-radius: 0.2rem;
}

.class-name {
    text-align: center;
    align-items: end;
    font-size: 80px;
    font-weight: bold;
    color:rgb(33, 40, 82);
}

.class-name2 {
    font-size: 30px;
    font-weight: bold;
}

.class-image1 {
    height: 500px;
    background-size: cover;
}

.class-cardCON {
    padding: 20px;
}

.class-work {
    display: flex;
    flex-direction: column;
}

.class-image2 {
    height: 225px;
}

.parent-work {
    display: flex;
    justify-content: center;
}

#work {
    width: 60%;
}

.parent-about {
    display: flex;
    justify-content: center;
} 

.class-card {
    background-color: rgba(147, 153, 177, 0.63);
}

.section {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
} 

.section-title {
    width: 35%;
    padding-right: 35px;
    font-size: 40px;
}

.title {
    text-align: center;
    border-width: 10px;
    color: cadetblue;
    padding-top: 20px;
    font-size: 40px;
}

.section-content {
    width: 75%;
    padding-top: 10px;
} 

#contact-items {
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
    font-size: 35px;
    color: cadetblue;
}

@media screen and (max-width: 768px) {
    .section {
    flex-direction: column;
    }
    .section-title {
    width: 100%;
    align-items: center;
    padding-right: 0px;
    }
    .title {
    text-align: center;
    }
    .section-content {
    width: 100%;
    text-align: right;
    text-align: center;
    }
    #contact-items {
    flex-direction: column;
    align-items: center;
    }
}