.class-jumbo {
    height: 470px;
}

.class-nav {
    padding: 30px;
    border-radius: 0.2rem;
}

.class-name {
    text-align: center;
    align-items: end;
    font-size: 80px;
    font-weight: bold;
    color:rgb(33, 40, 82);
}

.class-name2 {
    font-size: 30px;
    font-weight: bold;
}

.class-image1 {
    height: 500px;
    background-size: cover;
}

.class-cardCON {
    padding: 20px;
}

.class-work {
    display: flex;
    flex-direction: column;
}

.class-image2 {
    height: 225px;
}

.parent-work {
    display: flex;
    justify-content: center;
}

#work {
    width: 90%;
}
